body {
  background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: flex;
  display: none;
}
.modal-content {
  width: 450px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
}

.modal-content input {
  margin: 10px auto;
  display: block;
  width: 50%;
  height: 15px;
}
.container {
 height: 100%;
  display: flex;
align-items: center;
flex-direction: column;

}



table button {
  height: 130px;
  width: 150px;
  background-color:steelblue;
  border-radius: 8px;
}



.add-x  {
  background-image: url('x.png');
  text-align: center;
  background-size: contain;
  background-color:white;

 
}

.add-zero {
  background-image: url('zero.png');
  text-align: center;
  background-size: contain;
  background-color:white;
}
