


.game {
    display: flex;

}

.modal  {
    height: 100%;
    width: 100%;
       background-color:rgba(0, 0, 0, 0.5);
       position: absolute;
       top: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       display: none;

}
.modal-content{
   width: 450px;
   height: 250px;
   background-color: white;
   border-radius: 5px;
   text-align: center;
   padding: 15px;

}

.modal-content input {
    margin: 10px auto;
    display: block;
    width: 50%;
    height: 15px;
    
}

